{{define "content"}}
    <div class="container text-center">
        <br />
        <button id="newcase" class="btn btn-primary">New case</button>
    </div>
{{end}}

{{define "scripts"}}
    <script src="/js/index.js"></script>
{{end}}