{{define "content"}}
    <div class="container text-center">
        <br />
        <form method="POST" action="/cases/new">
            <button id="newcase" class="btn btn-primary" type="submit">
                New case
            </button>
        </form>
    </div>
{{end}}

{{define "scripts"}}{{end}}